.card {
  margin-top: 10px;

  background-color: white;

  width: 300px;

  min-height: 300px;

  border-radius: 8px;

  display: flex;

  justify-content: center;
  flex-direction:column;
  align-items: flex-start;
  padding-left:20px;
}
